@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rubik", "Roboto", system-ui, monospace;
  }
  body {
    @apply bg-background text-colortext;
  }

  #root {
    @apply grid [grid-template-rows:1fr_auto] min-h-screen;
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: transparent #67e8f988;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-button {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-track-piece {
  background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #67e8f988;
  border-radius: 2px;
}
